<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>See Attraction</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>


<body>

<div class="header">
    <h1 th:text="'Visit ' + ${attraction.name}">Visit Attraction</h1>
</div>

<div class="info-box">
    <label>Description:</label>
    <div class="read-only-box"
         th:text="${attraction.description}">
    </div>
</div>
<br>
<div class="info-box">
    <label>City:</label>
    <div class="read-only-box"
         th:text="${attraction.location}">
    </div>
</div>

</body>
</html>