<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show attractions</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>

<body>

<h1>Attractions</h1>

<table>

    <tr th:if="${attractions.isEmpty()}">
        <td colspan="4">There are no attractions yet</td>
    </tr>

    <tr th:if="${!attractions.isEmpty()}">
        <th>Name</th>
        <th>Description</th>
        <th>Tags</th>
        <th>View</th>
    </tr>

    <tr th:each="attraction : ${attractions}">
        <td th:text="${attraction.name}"></td>
        <td th:text="${attraction.description}"></td>

        <td>
            <a th:href="@{/attractions/{name}/tags(name=${attraction.name})}"
           >Tag</a>
        </td>
        <td>
            <a th:href="@{/attractions/{name}(name=${attraction.name})}"
               >View</a>
        </td>
        <td>
            <a th:href="@{/attractions/{name}/edit(name=${attraction.name})}"
              >Edit</a>
        </td>
        <td>
            <form th:action="@{/attractions/delete/{name}(name=${attraction.name})}" method="post">
                <button type="submit" style="background-color: cornflowerblue; color:white; padding:5px 10px; border:none; border-radius:5px; cursor:pointer;">Delete</button>
            </form>
        </td>
//PUSH TEST

    </tr>
</table>
<a th:href="@{/attractions/add}">Add new attraction</a>
</body>
</html>